*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

:root {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  /*STYLING VARIABLES*/
  /*App*/
  --background-color: #0a0e17;
  --app-background-color: #17182b;
  --border: #2a3040;

  /*submit form "blur*/
  --form-bg-opacity: #0a0e17ad;
  --border-bottom-form-header: none;

  /*smaller elements*/
  --bright-purple: #5a37d2;
  --light-text-color: #ccd0e5;
  --smaller-elements: #636878;
  --dark-mode-elements: #9c9c9c;
  --trashcan-color: #fa7075;
  --devider-line: #3e455f;
  --title: #fefefe;
  --hover-text: #fefefe;
  --hover-colors: #2f2e6e;
  --checkbox-color: brightness(1);

  /*submit form container/task container*/
  --suggestion-box-bg: transparent;

  /*suggestion list/task list*/
  --form-outer-border: #272d3d;
  --list-background-color: #f9f9fa;
  --form-list-gap: 0;
  --list-container-border-radius: 24px;
  --list-container-border: 1px solid #3f3e5677;
  --input-background: #fefefe;
  --input-border: #2f2e6e;

  /*task items / suggestion items*/
  --task-background: #fefefe;
  --task-border: 1px solid #eaebee;
  --suggestion-box-border: #2f2e6e;
  --task-border-color: none;
  --tasks-text-color: #17182b;

  /*suggestion form list item only*/
  --task-item-border-radius: 0;

  /*Toggle mode-icon*/
  --toggle-on-icon: none;
  --toggle-off-icon: inline-block;

  /*FONTS*/

  --font2: "Inter", sans-serif;


}



/*Dark mode*/
[data-theme="dark"] {
  /*App*/
  --app-background-color: #17182b;

  /*smaller elements*/
  --smaller-elements: #9c9c9c;
  --checkbox-color: brightness(0.8);
  --hover-colors: linear-gradient(to right,
      #373652,
      #373652d3,
      #37365200,
      #37365200,
      #37365200,
      #37365200);
  --toggle-on-icon: inline-block;
  --toggle-off-icon: none;

  /*submit form/task container*/
  --border-bottom-form-header: 1px solid #3f3e5677;
  --suggestion-box-border: #22233a;
  --form-outer-border: #242439;

  /*DARK suggestion list/task list*/
  --list-background-color: #1a1c30;
  --tasks-text-color: #cccccc;
  --list-container-border-radius: 24px;
  --list-container-border: 1px solid #3f3e5677;
  --input-background: #131422;
  --input-border: #5a37d2;

  /*DARK task items / suggestion items*/
  --task-background: #17182b;
  --task-border: 1px solid #3f3e56;
  --task-border-color: 1px solid #3f3e56;
  --task-item-border-radius: 0;

  /*dropdown*/
  --border: #3f3e56;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h2 {
  font-size: 1.4rem;
}


h4 {
  margin: 0;
  line-height: 2;
  font-weight: 500;
}